<!-- Header -->
<header class="myhead">
  <div class ="row">
    <div class="twelve columns">
                       
                </div>
        </div>
 </header>
<div class="dark" >
  <div class="row" >
    <div class="small-4 columns">
      <h1 class="lightT">Goalsy</h1>
    </div>
    <div class="small-8 columns">
      <blockquote>A resolution tracker that will help you check your progress on the goals you choose to pursue and will keep you motivated along the way.  <cite>"Never, never, never give up." (Winston Churchill)</cite></blockquote>
    </div>
  </div>
</div>
 
  <div class="row">
        <div class="main">
  	<div class="large-4 columns">
    <h3>Stay focused</h3>
    <ul><li>Click on each tab to review your listed goals.</li>
        <li>Add new goals using the button below:</li>
    </ul>
    <a href="<%= new_goal_path %>" class="button round">Add goal</a>
    <br><br><br><br><br><br><br><br>
    </div>
    <div class="large-8 columns">
  <div class="section-container auto" data-section>
    <% @goals.each_with_index do |goal, index| %>
  <section class="section">
    <p class="title"><a href="#">Goal <%= index+1 %></a></p>
    <div class="content">
      <p>
          <strong>Title:</strong>
          <%= goal.title %>
      </p>
      <p>
          <strong>Description:</strong>
          <%= goal.description %>
      </p>
      <p>
          <strong>Frequency:</strong>
          <%= goal.frequency %>
      </p>
      <%= link_to 'Edit', edit_goal_path(goal) %><br>
      <%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </section>
  <% end %>
	</div>
    </div>
  
  </div>
  </div>
 </div>
