<div class="row">
  <div class="large-8 columns">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.start_time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


  </div>
  <div class="large-4 columns">
  </div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
