<div class="row">
  <div class="large-8 columns">
<p id="notice"><%= notice %></p>

<p>
  <strong>BY: </strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= render "comments/form" %>
<%= render "comments/comments" %>
  </div>
  <div class="large-4 columns">
  </div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
