<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="small-3 columns">
    <%= f.label :title, class:"right inline" %><br>
  </div>
  <div class="small-9 columns">
    <%= f.text_field :title %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :description, class:"right inline" %>
  </div>
  <div class="small-9 columns">
    <%= f.text_area :description %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :frequency, class:"right inline" %>
  </div>
  <div class="small-9 columns">
    <%= f.select :frequency, options_for_select(%w[Daily Weekly Monthly]) %>
  </div>
</div>
<div class="row">
  <div class="small-9 small-offset-3 columns">
    <%= f.submit %>
  </div>
</div>
<% end %>
