<div class="row">
  <div class="large-8 columns">

<p id="notice"><%= notice %></p>
<p>
  <strong>User: </strong>
  <%= @goal.user.name %>
</p>
<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @goal.frequency %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>

<%= render "comments/form" %>
<%= render "comments/comments" %>

  </div>
  <div class="large-4 columns">
  </div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
